.element__like {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/element/Vector.svg);
  background-position: 50%;
  border: none;
  flex-shrink: 0;
  transition: .4s ease;
  cursor: pointer;
}

.element__like:hover {
  opacity: 0.5;
  transition: .4s ease;
}
