.popup__button {
  height: 50px;
  font-family: 'Inter', Arial, sans-serif;
  border: none;
  color: #fff;
  background-color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 122%;
  text-align: center;
  margin: 18px 0 0 0;
  border-radius: 2px;
  transition: 0.4s;
  padding: 0;
  cursor: pointer;
}
@media screen and (max-width: 790px) {
  .popup__button {
    height: 46px;
    font-size: 14px;
    margin: 10px 0 0 0;
  }
}
.popup__button:hover {
  opacity: 0.8;
  transition: 0.4s ease;
}
