.footer__copyright {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 122%;
  margin: 0;
  color: #545454;
}
@media screen and (max-width: 380px) {
  .footer__copyright {
    font-size: 14px;
  }
}
