.element__descriptoin {
  font-family: 'Inter';
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 23px 15px 28px 15px;
  box-sizing: border-box;
}
 @media screen and (max-width: 790px) {
  .element__descriptoin {
    padding: 24px 19px 27px;
  }
 }
