.profile__description {
  margin: 0;
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 400;
  line-height: 122%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width: 380px) {
  .profile__description {
    font-size: 14px;
    line-height: 121%;
  }
}
