.popup__title {
  max-width: 330px;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 120%;
  text-align: left;
  margin: 0 0 54px 0;
}
@media screen and (max-width: 790px) {
  .popup__title {
    font-size: 18px;
  }
}
